@model WebStore.Models.Employee

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Страница Index</title>
</head>
<body>
<h3>Карточка сотрудника</h3>

<div>
    <p>Фамилия:</p>
    <p>@Model.SurName</p>
</div>

<div>
    <p>Имя:</p>
    <p>@Model.FirstName</p>
</div>

<div>
    <p>Отчество:</p>
    <p>@Model.Patronymic</p>
</div>

<div>
    <p>Возраст:</p>
    <p>@Model.Age</p>
</div>

<hr />
<a href="/Employes/Index">К списку сотрудников</a>
</body>
</html>